---
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <div class="flex">
      <span class="gpt-subtitle text-xl mobile:text-2xl">Free2gpt.com</span>
      <!-- <p class="op-60 ml-1 text-sm mt-2.5">llama3.1-70b</p> -->
    </div>
    <Themetoggle />
  </div>
</header>
